
// Sidebar
$sidebar-width:                 220px;
$sidebar-mini-width:            70px;

// Layout
$layout-padding:                15px;
$boxed-width:                   1200px;

// Buttons
$btn-rounded-border-radius:     50px;

// Border size
$border-size:                   1px;
$border-size-xs:                1px;
$border-size-sm:                3px;
$border-size-md:                6px;
$border-size-lg:                9px;
$border-size-xl:                12px;

// Border radius
$border-radius-xs:              1px;
$border-radius-sm:              3px;
$border-radius-md:              6px;
$border-radius-lg:              12px;
$border-radius-xl:              24px;

// Image size
$image-xs:                      16px;
$image-sm:                      32px;
$image-md:                      64px;
$image-lg:                      96px;
$image-xl:                      192px;

// Paddings
$padding-xxs:                   5px;
$padding-xs:                    10px;
$padding-sm:                    15px;
$padding-m:                     20px;
$padding-md:                    25px;
$padding-lg:                    30px;
$padding-xl:                    40px;

// Margins
$margin-xxs:                    2px 4px;
$margin-xs:                     5px;
$margin-sm:                     10px;
$margin-m:                      15px;
$margin-md:                     20px;
$margin-lg:                     30px;
$margin-xl:                     50px;

// Animated
$animated-time:                 400ms;

// Tabs
$tab-border-size:               1px;
$tab-border-radius:             4px;
$tab-panel-padding:             20px;
$tab-side-with:                 20%; // Must be percentage

// Spiner
$spin-margin:                   0 auto;