
# -- IDE ----------------------------------------------
/nbproject/
.idea/

# -- Vendor -------------------------------------------
node_modules/
/auth.json

# -- Develop ------------------------------------------
/build/