
/* Variables */
@import 'bootstrap';

/* Loading bar */
@import "~outdated-browser-rework/style.scss";

/* Loading */
body, html, main {
    padding:0;
    margin:0;
}
html {
    min-height:100%;
    height:100%;
    position:relative;
}
#ento-loading-wrapper {
    font-family: "Courier New", Courier, monospace;
    display:block;
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color:$ento-light !important;
    color:$ento-light !important;
    z-index:9999999;
    & #ento-loading {
        background-color:$white !important;
        color:$ento-dark !important;
        padding:20px;
        position:absolute;
        top:50%;
        left:50%;
        width:300px;
        max-width:90%;
        box-sizing: border-box;
        box-shadow: 0 0 8px 0 $white;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 8px;
        line-height:50%; //Fix SVG visualization
        & .logo {
            width:200px;
            max-width:100%;
            height:auto;
            display:block;
            margin:0 auto;
        }
        & .spinner {
            margin: 20px auto 10px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;
            & > div {
                background-color: $ento-dark;
                height: 100%;
                width: 6px;
                margin:0 3px 0 0;
                display: inline-block;
                border-radius: 4px;
                animation: ento-loading-animation 1.2s infinite ease-in-out;
                &:nth-child(2) {
                    animation-delay: -1.1s;
                }
                &:nth-child(3) {
                    animation-delay: -1.0s;
                }
                &:nth-child(4) {
                    animation-delay: -0.9s;
                }
                &:nth-child(5) {
                    animation-delay: -0.8s;
                }
            }
        }
        & .version {
            text-align:center;
            font-size:10px;
        }
    }
}

@keyframes ento-loading-animation {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
    }
}

#outdated {
    bottom:0;
    .last {
        display:none;
    }
}