/* Ento boot*/
@import "~pigmento-sminkon-core/resources/sass/boot";

/* Bootstrap */
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";


/* Variables */
/*$prodaisa-light-grey: #ececec;
$prodaisa-light-grey: darken($white, 6%);*/
$prodaisa-blue: #176DB7;
$prodaisa-orange: #FE6B0F;
$layout-bg: $white;
$layout-app-bg:$prodaisa-blue;
$dropdown-active-bg: $prodaisa-blue;
$dropdown-active-text: $white;


/* Overrides */
.skin-prodaisa {
    background:$layout-bg;
    &.app {
        background:$layout-app-bg;
    }
    /* Bootstrap */
    @import "partials/bootstrap-sass";
    /* Skin */
    @import "partials/skin";
}
