#page-wrapper,
#lockscreen {
    background:$layout-bg;
}

.navbar-static-top {
    background-color:darken($layout-bg, 6%);
    .navbar-header {
        .logo {
            height:52px;
            margin-top:4px;
        }
    }
}

.tabs-container.app-tabs {
    > .nav-tabs {
        background-color:darken($layout-bg, 6%);
        > li {
            > a {
                background-color:darken($layout-bg, 12%);
                &:hover,
                    &:focus {
                    background-color:darken($layout-bg, 10%);
                }
            }

            &.active {
                > a,
                > a:hover,
                    > a:focus {
                    background:$white;
                }
            }
        }

    }
}

.profile-vertical {
    .profile-image {
        border-color:$prodaisa-blue;
    }
}

.dropdown-menu {
    & > li {
        & > .checkbox {
            &:hover {
                background:$dropdown-active-bg;
            }
        }
        & > a {
            color: $ento-dark;
            &:hover,
                &:focus,
                &:active {
                color:$dropdown-active-text;
                background:$dropdown-active-bg;
            }
        }
        &.active {
            & > a,
            > a:focus,
                > a:hover {
                color:$dropdown-active-text;
                background-color: $dropdown-active-bg;
            }
        }
    }
}

.navbar-static-side {
    background:$layout-app-bg;

    a {
        color:$white;
    }

    /*    .dropdown-menu {
            > li {
                > a {
                    color: $ento-dark;
                }
            }
        }*/

    .nav-header {
        background:$layout-app-bg;
        & .open {
            & > a,
            > a:hover,
                > a:focus {
                background: $layout-app-bg;
            }
        }
    }

    .nav {
        > li {

            &:hover {
                border-left-color: darken($layout-app-bg, 3%);
            }

            > a {
                &:hover,
                    &:focus,
                    &:active {
                    background: darken($layout-app-bg, 3%);
                }
            }
            &.active {
                background: darken($layout-app-bg, 3%);
                border-color:$prodaisa-orange;

                &:hover {
                    border-left-color: $prodaisa-orange;
                }
            }
        }
    }
}

.tooltip {

    &.navbar-tooltip {
        .tooltip-inner {
            color: $white;
            background-color: darken($layout-app-bg, 3%);
        }
        &.top .tooltip-arrow {
            border-top-color: darken($layout-app-bg, 3%);
        }

        &.right .tooltip-arrow {
            border-right-color: darken($layout-app-bg, 3%);
        }

        &.bottom .tooltip-arrow {
            border-bottom-color: darken($layout-app-bg, 3%);
        }

        &.left .tooltip-arrow {
            border-left-color: darken($layout-app-bg, 3%);
        }
    }


}
