
// Basics
$black:                     #000;
$white:                     #fff;
$grey:                      #4c4c4c;
$grey-light:                #ccc;
$yellow:                    #FEA825;

// Corporative
$icebergs-dark:            #19333e;
$icebergs-light:           #eeebe7;

$icebergs-blue:            #3a66b6;
$icebergs-blue-light:      #1199a7;

$icebergs-raw-light:       #a5bdb7;
$icebergs-raw-dark:        #82959e;
$icebergs-raw-green:       #9CBCB7;

$icebergs-yellow:          #e2a62c;
$icebergs-yellow:          #f5a710;
$icebergs-red:             #d65761;

// Corporative defaults
$icebergs-bg:              $icebergs-light;
$icebergs-text:            $icebergs-dark;
$icebergs-border:          $icebergs-raw-dark;

// Layout
$layout-bg:                 $icebergs-bg;
$layout-text:               $icebergs-text;
$layout-app-bg:             $icebergs-dark;
$layout-app-text:           $white;

// Defaults
$text-color:                $icebergs-text;
$border-color:              $icebergs-border;

// Dropdown
$dropdown-bg:               $white;
$dropdown-text:             $icebergs-dark;
$dropdown-shadow-bg:        rgba($icebergs-light, 0.7);
$dropdown-active-bg:        $icebergs-blue-light;
$dropdown-active-text:      $white;


// -------------------------------------------------------
// -------------------------------------------------------



// Basic Colors
/*$navy:                      #1ab394;       // Primary color
$dark-gray:                 #c2c2c2;  // Default color
$blue:                      #1c84c6;       // Success color
$lazur:                     #23c6c8;      // Info color
$yellow:                    #f8ac59 ;    // Warning color
$red:                       #ED5565 ;       // Danger color*/

// Various colors
/*$gray:                      #f3f3f4;         // Background wrapper color
$light-gray:                #D1DADE;   // Default label, badge
$label-badge-color:         #5E5E5E;
$light-blue:                #f3f6fb;*/

// Spiner
/*$spin-color:                $navy;*/


// IBOX colors ( default panel colors)
/*$ibox-title-bg:             $white;     // IBox Background header
$ibox-content-bg:           $white;   // IBox Background content*/

// Navigation
/*$nav-bg:                    #2F4050;
$nav-bg-open:               $white;
$nav-text-color:            #a7b1c2;
$nav-text-color-active:     $white;
$nav-right-text-color:      #999c9e;
$navbar-default-hover-bg:   darken($nav-bg, 3%);*/